[submodule "Marlin"]
	path = Marlin
	url = https://github.com/PierreMasselot1/Marlin
[submodule "klipper-MSU"]
	path = klipper-MSU
	url = https://github.com/PierreMasselot1/klipper-MSU
	branch = master
